aiohttp==3.9.1
aiosignal==1.3.1
altair==4.1.0
annotated-types==0.6.0
anyio==3.7.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
async-timeout==4.0.3
attrs==23.1.0
backcall==0.2.0
base58==2.1.1
beautifulsoup4==4.12.2
bleach==4.1.0
blinker==1.7.0
blis==0.7.11
CacheControl==0.13.1
cachelib==0.9.0
cachetools==4.2.4
catalogue==2.0.10
certifi==2023.11.17
cffi==1.15.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
confection==0.1.4
contourpy==1.2.0
cryptography==41.0.7
cycler==0.12.1
cymem==2.0.8
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
Deprecated==1.2.14
distro==1.8.0
dnspython==2.4.2
entrypoints==0.4
exceptiongroup==1.2.0
Faker==20.1.0
fastapi==0.104.1
favicon==0.7.0
firebase==4.0.1
firebase-admin==6.3.0
Flask==3.0.0
Flask-Caching==2.1.0
Flask-SQLAlchemy==3.1.1
fonttools==4.46.0
frozenlist==1.4.0
fuzzywuzzy==0.18.0
gcloud==0.18.3
gensim==4.3.2
gitdb==4.0.9
GitPython==3.1.24
google-api-core==2.15.0
google-api-python-client==2.111.0
google-auth==2.25.2
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.13.1
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
greenlet==3.0.1
grpcio==1.60.0
grpcio-status==1.60.0
gunicorn==21.2.0
h11==0.14.0
htbuilder==0.6.2
httpcore==1.0.2
httplib2==0.22.0
httpx==0.25.2
idna==3.6
importlib-metadata==6.11.0
ipykernel==6.6.0
ipython==7.30.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jsonschema==4.3.1
jupyter-client==7.1.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
jwcrypto==1.5.0
kiwisolver==1.4.5
langcodes==3.3.0
loguru==0.7.2
lxml==4.9.3
Markdown==3.5.1
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.3
mdurl==0.1.2
mistune==0.8.4
more-itertools==10.1.0
msgpack==1.0.7
multidict==6.0.4
murmurhash==1.0.10
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.4
notebook==6.4.6
numpy==1.26.2
oauth2client==4.1.3
openai==1.3.9
packaging==23.2
pandas==2.1.3
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
preshed==3.0.9
prometheus-client==0.12.0
prompt-toolkit==3.0.24
proto-plus==1.23.0
protobuf==4.25.1
ptyprocess==0.7.0
pyarrow==6.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.19.0
pydantic==2.5.2
pydantic_core==2.14.5
pydeck==0.8.1b0
Pygments==2.17.2
PyJWT==2.8.0
pymdown-extensions==10.5
pymongo==4.6.1
Pympler==1.0
pyparsing==3.0.6
Pyrebase4==4.7.1
pyrsistent==0.18.0
python-dateutil==2.8.2
python-jwt==4.1.0
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
pyzmq==22.3.0
regex==2023.10.3
requests==2.29.0
requests-toolbelt==0.10.1
rich==13.7.0
rsa==4.9
scipy==1.11.4
Send2Trash==1.8.0
six==1.16.0
smart-open==6.4.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.5
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.23
srsly==2.4.8
sseclient==0.0.27
st-annotated-text==4.0.1
starlette==0.27.0
streamlit==1.29.0
streamlit-base-extras==0.2.44
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-embedcode==0.1.2
streamlit-extras==0.3.6
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-javascript==0.1.5
streamlit-keyup==0.2.2
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
tenacity==8.2.3
terminado==0.12.1
testpath==0.5.0
thinc==8.2.1
toml==0.10.2
toolz==0.11.2
tornado==6.1
tqdm==4.66.1
traitlets==5.1.1
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==4.1
uritemplate==4.1.1
urllib3==1.26.18
validators==0.18.2
wasabi==1.1.2
watchdog==2.1.6
wcwidth==0.2.5
weasel==0.3.4
webencodings==0.5.1
Werkzeug==3.0.1
widgetsnbextension==3.5.2
wrapt==1.16.0
yarl==1.9.4
zipp==3.17.0
