Flask
fsspec
gensim
gunicorn
huggingface-hub
idna
itsdangerous
Jinja2
joblib
nltk
packaging
Pillow
pymongo
PyYAML
regex
requests
scipy
tokenizers
tqdm
transformers
pandas
flask-sqlalchemy
flask-caching
fuzzywuzzy
torch
