<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href = "{{ url_for('static',filename='css/home.css') }}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <script src="https://cdn.jsdelivr.net/npm/highlight.js@10.7.2/lib/languages/python.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/a11y-dark.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>   
        <script>
        </script> 
    </head>
    <body>
        <p class ="dear-text" >Hello {{user_name}} </p>
        <div class = "container-item-entry-search">
            <input class = "item-entry-search" type = "entry" placeholder = "Search">
            <button class = "item-button-search-btn" name ="button-search">
                <i class="fas fa-search"></i>
            </button>
        </div> 
        <div class = "user-header">
            <div class = 'container'>
                <nav class="navbar-user-information">
                    <ul class="navbar-user-information-list">
                        <li>
                            <a href="/">Log out</a>
                        </li>
                        <li>
                            <a href="/user_information">User information</a>
                        </li>
                        <li>
                            <button class ="cart-button-click" id ="cart-link">
                                <i class ="fa fa-shopping-cart" style="font-size:15px"></i>
                            </button>
                        </li>
                        <li>
                            <a href="#help">Help</a>
                        </li>
                    </ul>
                    </div>
                </nav>
            </div>
        </div>
        <header class="main-header">
            <div class="container">
                <nav class="navbar navbar-expand-lg main-nav px-0">
                    <div class="collapse navbar-collapse" id="mainMenu">
                    <ul class="navbar-nav ml-auto text-uppercase f1">
                        <li>
                            <img src="static/images/logo.png" height="35" >
                        </li>
                        <li>
                        <a href="/home" class="active active-first">Home</a>
                        </li>
                        <li>
                        <a href="#men">Men</a>
                        </li>
                        <li>
                        <a href="#women">Women</a>
                        </li>
                        <li>
                            <a href="#kid">Kids</a>
                        </li>
                    </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!-- <img class = "img-background" src="static/images/bg.png"> -->
        <div class = "body-space">
            <div class = "tree-workspace-container">
                <form id="filterForm" action="/home" method="post">
                    <ul class="tree-node">
                        <li>
                            <label><p>Brand of Product</p></label>
                            <ul>
                                <li><label><input type="checkbox" name="brand" value="nike"> Nike </label></li>
                                <li><label><input type="checkbox" name="brand" value="adidas"> Adidas</label></li>
                            </ul>
                        </li>
                        <li>
                            <label><p>Price</p></label>
                            <ul>
                                <li><label><input type="checkbox" name="price" value="50"> 0 - 50 USD</label></li>
                                <li><label><input type="checkbox" name="price" value="50"> 50 - 100 USD</label></li>
                                <li><label><input type="checkbox" name="price" value="150"> 100 - 150 USD</label></li>
                                <li><label><input type="checkbox" name="price" value="200"> 200+ USD</label></li>
                            </ul>
                        </li>
                        <li>
                            <label><p></p></label>
                            <ul>
                                <li><label><input type="checkbox" name="availability" value="shoe"> Shoe</label></li>
                                <li><label><input type="checkbox" name="availability" value="shirt"> Bag</label></li>
                                <li><label><input type="checkbox" name="availability" value="bag"> Clothes</label></li>
                            </ul>
                        </li>
                        <li>
                            <label><p>Availability</p></label>
                            <ul>
                                <li><label><input type="checkbox" name="availability" value="in-stock"> In Stock</label></li>
                            </ul>
                        </li>
                    </ul>
                    <button class="button-click-filtering" type="button" onclick="filterProducts()">Filter</button>
                </form>
            </div>
            <div class = "main-workspace-container">
                <div class = "main-workspace-container-header">
                </div>
                <div class = "main-workspace-container-body">
                </div>
            </div>
        </div>

        <div class = "chat-box-container">
            <div class = "chat-button-bar">
                <p class = "bot-label">SUSbot</p>
                <button class ="chat-button-fullscreen" onclick = "changeHeightFullScreen()">
                    <i class="bi bi-arrows-angle-expand"></i>
                </button>
                <button class ="chat-button-openbutton" onclick = "changeHeightOpen()">
                    <i class="bi bi-plus"></i>
                </button>
                <button class ="chat-button-closebutton" onclick = "changeHeightClose()">
                    <i class="bi bi-dash"></i>
                </button>
            </div>
            <div class ="chat-box mt-3">

            </div>
                <form action = "/home", method = POST>
                    <textarea class ="chat-entry" rows="1" placeholder="Chat" id="message-input" name ="chat"></textarea>
                </form>
            <button type="submit" class="btn" id="send-btn"></button>
        </div>
        <div class = "policy">
            <div class = "fixed-box">
                <p class = "label-policy"> Privacy @ 2023
                </p>
            </div>
        </div>
        <script src= "static/js/home.js"></script>
        <script src= "static/js/cart.js" ></script>
        <script src= "static/js/search_bar.js"></script>
        <script src= "static/js/chatbot.js"></script>
    </body>
</html>