body {
    background: #ffffff !important;
    display: block;
}

[data-target="#mainMenu"] {
    position: relative;
    z-index: 999;
}

#mainMenu li>a {
    font-size: 10px;
    letter-spacing: 1px;
    color: #120662;
    font-weight: 400;
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.main-header.fixed-nav #mainMenu li>a {
    color: #120662;
    text-decoration: none;
}

#mainMenu li:not(:last-of-type) {
    margin-right: 50px;
}

#mainMenu li>a::before {
    position: absolute;
    content: "";
    width: calc(100% - 1px);
    height: 1px;
    background: #120662;
    bottom: -6px;
    left: 0;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    z-index: -1;
    -webkit-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}

#mainMenu li>a:hover::before,
#mainMenu li>a.active::before {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

.main-header.fixed-nav #mainMenu li>a::before {
    background: #000;
}

.main-header {
    position: fixed;
    top: 25px;
    left: 0;
    z-index: 99;
    width: 100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin-top: 50px;
    background-color: #f5f5f5;
}

.main-header.fixed-nav {
    top: 0;
    background: #fff;
    -webkit-box-shadow: 0 8px 12px -8px rgba(0, 0, 0, 0.09);
    box-shadow: 0 8px 12px -8px rgba(0, 0, 0, 0.09);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.main-header.fixed-nav .navbar-brand>img:last-of-type {
    display: block;
}

.main-header.fixed-nav .navbar-brand>img:first-of-type {
    display: none;
}

.navbar-brand {
    color: #fff;
}

.main-header .navbar-brand img {
    max-width: 40px;
    animation: fadeInLeft 0.4s both 0.4s;
}


/* main-header end */

@media (max-width: 991px) {
    /*header starts*/
    .collapse.in {
        display: block !important;
        padding: 0;
        clear: both;
    }
    .navbar-toggler {
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 25px;
        right: 0;
        border: none;
        border-radius: 0;
        outline: none !important;
    }
    .main-header .navbar {
        float: none;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .main-header .navbar-nav {
        margin-top: 70px;
    }
    .main-header .navbar-nav li .nav-link {
        text-align: center;
        padding: 20px 15px;
        border-radius: 0px;
    }
    /**/
    .main-header .navbar-toggler .icon-bar {
        background-color: #fff;
        margin: 0 auto 6px;
        border-radius: 0;
        width: 30px;
        height: 3px;
        position: absolute;
        right: 0;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    .main-header .navbar .navbar-toggler .icon-bar:first-child {
        margin-top: 3px;
    }
    .main-header .navbar-toggler .icon-bar-1 {
        width: 10px;
        top: 0px;
    }
    .main-header .navbar-toggler .icon-bar-2 {
        width: 16px;
        top: 12px;
    }
    .main-header .navbar-toggler .icon-bar-3 {
        width: 20px;
        top: 21px;
    }
    .main-header .current .icon-bar {
        margin-bottom: 5px;
        border-radius: 0;
        display: block;
    }
    .main-header .current .icon-bar-1 {
        width: 18px;
    }
    .main-header .current .icon-bar-2 {
        width: 30px;
    }
    .main-header .current .icon-bar-3 {
        width: 10px;
    }
    .main-header .navbar-toggler:hover .icon-bar {
        background-color: #fff;
    }
    .main-header .navbar-toggler:focus .icon-bar {
        background-color: #fff;
    }
    /*header ends*/
}

.collapse .navbar-collapse {
    text-align: center;
}

.navbar-user-information {
    background-color: #ffffff;
    justify-content: flex-end;
    height: 10px;
    position: fixed;
    font-size: 14px;
    align-items: flex-end;
    margin-top: 20px;
    margin-left: 60%;
    margin-right: 10%;
    text-align: right;
    visibility: inherit;
}

.navbar-user-information-list {
    justify-content: flex-end;
    display: flex;
    margin-right: 0%;
    max-height: 100vh;
    text-align: right;
    text-transform: capitalize;
    text-overflow: clip;
    font-size: 16px;
}

.navbar-user-information-list li {
    margin-left: 10px;
    font-size: 12px;
}

.navbar-user-information-list ul {
    margin-right: 10px;
    align-self: flex-end;
}

.container-item-entry-search {
    z-index: 1000;
    position: absolute;
    border-radius: 12px;
    padding-left: 0px;
    height: 40px;
    width: 40%;
    font-size: 12px;
    margin-left: 30%;
    margin-top: 20px;
    /* display: flex;
    flex-direction: row; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
}

.item-entry-search {
    padding-left: 10px;
    position: absolute;
    border: #ccc;
    border-radius: 8px;
    height: 100%;
    margin-left: 0%;
    width: 100%;
    font-size: 12px;
}

.item-button-search-btn {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    margin-right: 0%;
    margin-left: 90%;
    height: 100%;
    width: 10%;
    box-shadow: none;
    border-width: 0px;
}

.container-list-home-function {
    border-radius: 8px;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.card {
    margin-left: 5%;
}

.container-button {
    margin-left: 5%;
    margin-bottom: 15%;
    margin-top: 600px;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.button-buy {
    cursor: pointer;
    border: 0;
    font-weight: 500;
    width: 200px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
}

.reg {
    color: white;
    background-color: rgba(104, 85, 224, 1);
}

.log {
    color: rgb(104, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(104, 85, 224, 1);
}

.button-buy:hover {
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgba(104, 85, 224, 1);
}

.fixed-box {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    height: 30px;
    background-color: #ececec;
    z-index: 1;
}

.label-policy {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 5px;
    text-align: left;
    position: relative;
    font-size: small;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.body-space {
    position: relative;
    display: flex;
    z-index: 1;
}

.tree-workspace-container {
    background-color: #f3f3f3;
    z-index: 1;
    margin-top: 30px;
}

.chat-box-container {
    position: fixed;
    bottom: 5%;
    right: 1%;
    border-radius: 12px;
    background-color: #f6f6f6;
    border-width: 0px;
    border-color: #ffffff;
    height: 500px;
    width: 40%;
    width: 350px;
    min-width: 280px;
    border-style: solid;
    display: flex;
    transition: height 0.5s ease;
    z-index: 50;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    z-index: 1200;
}

.chat-box-container,
.chat-box-container>* {
    zoom: 1.0;
}

.chat-box {
    position: static;
    background-color: #f6f6f6;
    width: 100%;
    z-index: 60;
    height: 95%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.message-box {
    border-radius: 8px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 5px 5px;
    font-size: 14px;
    position: absolute;
    display: flex;
}

.chat-entry {
    resize: none;
    border-radius: 10px;
    border-width: 1px;
    border: #ffffff;
    border-style: solid;
    position: static;
    height: 46px;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-bottom: 5px;
    background-color: #ffffff;
    font-size: 12px;
    padding-left: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.chat-entry ::after {
    border: 1px solid #ccc;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.chat-button-bar {
    height: 33px;
    width: 100%;
    position: static;
    margin-top: 0px;
    margin-right: 50%;
    text-align: right;
    background-color: #f4f6fe;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border: #000000;
    display: flex;
    justify-content: flex-end;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.chat-button-openbutton {
    border-radius: 8px;
    margin-top: 8px;
    margin-left: 3px;
    margin-right: 2px;
    padding: 0px;
    width: 16px;
    height: 16px;
    background-color: rgb(198, 145, 12);
    color: #ffffff;
    position: static;
    font-size: 10px;
    border-width: 0px;
}

.chat-button-closebutton {
    border-radius: 8px;
    margin-top: 8px;
    margin-left: 3px;
    margin-right: 5px;
    padding: 0px;
    width: 16px;
    height: 16px;
    background-color: rgb(217, 26, 26);
    color: #ffffff;
    position: static;
    font-size: 10px;
    border-width: 0px;
    text-rendering: geometricPrecision;
}

.chat-button-fullscreen {
    border-radius: 8px;
    margin-top: 8px;
    margin-left: 3px;
    margin-right: 2px;
    padding: 0px;
    width: 16px;
    height: 16px;
    background-color: rgb(0, 107, 27);
    color: #ffffff;
    position: static;
    font-size: 8px;
    border-width: 0px;
}

.body-space {
    background-color: #ffffff;
    margin-top: 50px;
    margin-bottom: 0%x;
    height: 90%;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: flex-start;
}

.tree-workspace-container {
    background-color: #e9eaef;
    height: 100%;
    width: 20%;
    position: fixed;
}

.main-workspace-container {
    background-color: #ffffff;
    height: 1000vh;
    width: 50%;
    position: absolute;
    margin-left: 25%;
    z-index: 10;
}

.main-workspace-container-body {
    margin-top: 50px;
    margin-left: 0px;
    height: 100%;
    max-height: 100vh;
    width: 148%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Three columns with equal width */
    gap: 10px;
    /* Adjust the gap between columns */
    justify-content: flex-start;
    overflow-y: auto;
    z-index: 20;
}

.product-card {
    width: 300px;
    height: 500px;
    min-width: 300px;
    position: relative;
    display: flow-root;
    justify-content: flex-start;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    z-index: 50;
    font-size: 12px;
}

.product-image {
    width: 240px;
    height: 300px;
    min-width: 200px;
    position: relative;
    display: flow-root;
    justify-content: flex-start;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border-width: 1px;
    border-color: #959595;
    border-style: solid;
    font-size: 12px;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image covers the entire container */
    border-radius: 8px;
    /* Applies border-radius to the image */
}

.tree-node {
    list-style: none;
    margin: 0;
    margin-top: 50px;
    padding: 0;
    padding-left: 20px;
    font-size: 12px;
}

.tree-node label {
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
}

.tree-node {
    margin-right: 5px;
}

.tree-node ul {
    margin-left: 20px;
    padding-left: 0;
}

.tree-node {
    display: block;
}

.entry-search {
    border-radius: 8px;
    height: 22px;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 12px;
}

.bot-label {
    margin-left: 45%;
    margin-right: auto;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 300;
}

.img-background {
    z-index: 1;
    opacity: 0.1;
    position: fixed;
    height: 800px;
    margin-left: 40%;
    margin-top: 5%;
}

.btn {
    display: none !important;
}

.chat-message {
    padding: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow: 0 0 5px #f1f1f1;
    font-size: 10px;
    font-weight: 300;
}

.user-message {
    position: relative;
    background-color: #dbe3fc;
    color: #000000;
    font-size: 12px;
    font-weight: 300;
    border-width: 1px;
    border-color: #000;
    border-radius: 12px;
    width: fit-content;
    max-width: 90%;
    margin-right: 15px;
    margin-left: auto;
    padding-right: 5px;
    padding-top: 5px;
    text-align: right;
    box-shadow: #120662;
    justify-self: end;
    box-shadow: #bfd4ff 1px 1px;
    display: flex;
    height: fit-content;
}

.bot-message {
    position: relative;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 300;
    border-width: 1px;
    border-color: #000;
    border-radius: 16px;
    margin-left: 15px;
    width: fit-content;
    max-width: 90%;
    text-align: left;
    padding-left: 5px;
    padding-top: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    height: fit-content;
}

.message-text pre code {
    font-size: 10x;
    white-space: pre-wrap;
}

.user-icon {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.bot-icon {
    background-size: cover;
    background-position: center center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 3px;
}

.loader {
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid #244dcb;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: 9999999;
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 60%;
    animation: spin 2s linear infinite;
    position: fixed;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.item-view-container {
    position: absolute;
    z-index: 1000;
    width: 100%;
    background-color: #fefefe;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.item-view-container-line {
    position: absolute;
    margin-top: 30px;
    width: 100%;
    font-size: 12px;
    height: 70%;
    padding: 20px 20px;
    justify-content: flex-start;
}

.item-view-container-line-button {
    position: absolute;
    width: 100%;
    font-size: 12px;
    justify-content: right;
    text-align: right;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 30px;
}

.item-view-container-line-button-cart {
    position: static;
    width: 100%;
    font-size: 12px;
    justify-content: right;
    text-align: right;
    margin-top: 250px;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 40px;
}

.button-close-item-view {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    shape-margin: 0%;
    shape-outside: none;
    border: none;
    padding: 0;
}

.button-close-item-view img {
    width: 100%;
    height: 100%;
}

.button-cart {
    font-size: 12px;
    position: static;
    background-color: #e5e5e5;
    color: #120662;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 30%;
    height: 30px;
    font-size: 12px;
}

.button-cart::placeholder {
    color: #e5e5e5;
    background-color: #120662;
}

.main-workspace-container-header {
    max-height: 1000px;
    width: 100%;
    position: absolute;
    margin-top: 80px;
    transition: height 0.5s ease;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    z-index: 1001;
    background-color: #fefefe;
}

.cart-container {
    position: static;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    height: 600px;
    width: 98%;
    background-color: #fefefe;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.dear-text {
    position: fixed;
    margin-top: 10px;
    margin-left: 5%;
    font-size: 12px;
    font-weight: bold;
    color: #244dcb;
}

.cart-button-click {
    margin-top: 0px;
    width: 40px;
    height: 20px;
    background-color: #ffffff;
    justify-content: flex-start;
    shape-margin: 0%;
    shape-outside: none;
    border: none;
}

.cart-button-click:hover {
    color: blueviolet;
}

.cart-button-click:focus-visible {
    outline: 2px solid blueviolet;
    outline-offset: 2px;
}

.cart-button-click::after {
    color: blueviolet;
}

.cart-item-container {
    position: static;
    background-color: #ffffff;
    color: #120662;
    border-width: 1px;
    border-style: solid;
    padding: 10px 10px;
    margin-top: 5px;
    margin-bottom: 40px;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
}

.cart-item-attribute {
    position: static;
    text-align: left;
    width: 90%;
    margin-top: 5px;
    font-size: 12px;
}

.info-box {
    position: fixed;
    height: 400px;
    width: 600px;
    margin-left: 25%;
    margin-top: 20%;
    z-index: 100000;
}

.button-info-box {
    position: absolute;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 50px;
    width: 100px;
    border: none;
    background-color: #e5e5e5;
    color: #120662;
}

.button-item-add-destroy {
    font-size: 12px;
    position: static;
    background-color: #e5e5e5;
    color: #120662;
    margin-top: 260px;
    margin-left: 66%;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 30%;
    height: 30px;
}

.button-cart-destroy {
    font-size: 12px;
    position: static;
    background-color: #e5e5e5;
    color: #120662;
    margin-top: 30px;
    margin-left: 66%;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 30%;
    height: 30px;
}

.button-bar-cart {
    position: static;
    margin-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button-cart-items {
    width: fit-content;
    min-width: 50px;
    position: static;
    margin-right: 5%;
    border-width: 0px;
    background-color: #ffffff;
    box-shadow: None;
    outline: None;
    color: #ec0c0c;
    font-size: 12px;
    text-decoration: underline;
    height: 30px;
}

.item-recommend {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 200px;
    background-color: #fefefe;
    margin-top: 10px;
    border-radius: 8px;
    border-width: 1px;
}

.button-recommend {
    height: 25px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 60%;
    border-radius: 8px;
    background-color: #f8faff;
    position: static;
}

.bot-message-recommend {
    position: relative;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: 300;
    border-width: 1px;
    border-color: #000;
    border-radius: 16px;
    margin-left: 15px;
    width: fit-content;
    max-width: 90%;
    text-align: left;
    padding-left: 5px;
    padding-top: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    height: fit-content;
    padding-bottom: 15px;
    margin-top: 15px;
}

.img-btn-fullscreen {
    background-size: cover;
    background-position: center center;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-bottom: 1px;
}

.button-click-filtering {
    position: absolute;
    margin-bottom: 10%;
    margin-right: 20px;
    margin-left: 20px;
    width: 80%;
    height: 25px;
    background-color: #1bffac;
    border-radius: 8px;
    font-size: 12px;
    border: 0px;
    box-shadow: none;
}

.button-click-filtering ::placeholder {
    background-color: #ffffff;
    color: #000000;
}

.button-click-filtering ::after {
    background-color: #ffffff;
    color: #000000;
}

.button-click-filtering ::selection {
    background-color: #ffffff;
    color: #000000;
}