.nav-bar {
    margin-top: 50px;
    height: 35px;
    align-items: left;
    background-color: rgb(236, 236, 236);
    flex-direction: column;
}

.btn-nav {
    margin-top: 5px;
    position: relative;
    background-color: rgb(236, 236, 236);
    color: #000000;
    border: 0px;
    margin-left: 20px;
    font-size: 12px;
}

.fixed-box {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    height: 30px;
    background-color: #ececec;
}

.label-policy {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 5px;
    text-align: left;
    position: relative;
    font-size: 12px;
}