<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>SUSBot</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}" />
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href = "{{ url_for('static',filename='css/base.css') }}"/>
        <link rel="stylesheet" type="text/css" href = "{{ url_for('static',filename='css/styles.css') }}"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <script src="https://cdn.jsdelivr.net/npm/highlight.js@10.7.2/lib/languages/python.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/a11y-dark.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>    
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href = "{{ url_for('static',filename='css/styles.css') }}"/>
        <link rel="stylesheet" type="text/css" href = "{{ url_for('static',filename='css/bases.css') }}"/>
        
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="box-shadow: 0 2px 5px #0003 !important">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">
                <img src="static/images/logo.png"width="30" height="30">
                </a>
                <a class="navbar-brand" href="/">SUSESSFUL</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">MEN</a></li>
                        <li class="nav-item"><a class="nav-link" href="/">WOMEN</a></li>
                        <li class="nav-item"><a class="nav-link" href="/">KIDS</a></li>
                    </ul>
                    <div class = "navbar-nav ml-auto mb-2 mb-lg-0 container-item-entry-search">
                        <button class = "item-button-search-btn" name ="button-search">
                            <i class="fas fa-search"></i>
                        </button>
                    </div> 
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0" style="padding-left:20px;">
                        <li class="nav-item"><a class="nav-link" href="/login">LOGIN</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">REGISTER</a></li>
                        <form class="d-flex">
                            <button class="btn btn-outline-dark" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Cart
                                <span class="badge bg-white text-dark ms-1 rounded-pill">0</span>
                            </button>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>

        <header class="bg-white py-5 bg-opacity-75" style="height: 100vh !important;">
            <div class="container px-4 px-lg-5 my-5" style="height:55vh;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-center text-dark">
                            <h1 class="display-7 fw-bolder"><br></br></h1>
                            <h1 class="display-7 fw-bolder">Let's take a look at the products for the upcoming holiday season!</h1>
                            <p class="lead fw-normal text-dark-50 mb-0">SHOP MEN</p>
                            <p class="lead fw-normal text-dark-50 mb-0">SHOP WOMEN</p>
                            <p class="lead fw-normal text-dark-50 mb-0">SHOP KIDS</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="static/images/herobanner.png" alt="Image" class="img-fluid float-end">
                    </div>
                </div>
            </div>
            <!-- End of item section-->
        </header>  
        

        <!-- Chatbot-->
        <div class = "chat-box-container">
            <div class = "chat-button-bar">
                <p class = "bot-label">SUSbot</p>
                <button class="chat-button-fullscreen" onclick="changeHeightFullScreen()'">
                    <>
                </button>
                <button class = "chat-button-openbutton" onclick="changeHeightOpen()">
                    +
                </button>
                <button class = "chat-button-closebutton" onclick="changeHeightClose()">
                    -
                </button>
            </div>
            <div class = "chat-box">
            </div>
            <form action = "/ecommerce", method = POST>
                    <textarea class ="chat-entry" rows="1" placeholder="Chat" id="message-input" name ="chat"></textarea>
            </form>
            <button type="button" class="btn" id="send-btn"></button>
        </div>

        <!-- Footer-->
        <footer class="py-5 bg-white">
            <div class="container"><p class="m-0 text-center text-dark">Copyright &copy; SUSESSFUL 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src= "static/js/scripts.js"></script>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <script src= "static/js/base.js"></script>
        <script src= "static/js/chatbot.js" defer></script>
        <script src= "static/js/search_bar.js" defer></script>
    </body>
</html>
